In [1]:
import glob
import os
import pandas as pd
import numpy as np

xlxs_path = '/Users/soiji/Documents/GitHub/DataProcessing/Data'
xlxs_list = sorted(os.listdir('Data'))

In [61]:
data = pd.read_excel(xlxs_path + '/' + str(xlxs_list[4]), header=None, engine='openpyxl').squeeze()
print(data.head())
print(data.shape)

0    Name Hussein Hakeem Address Number 22 Fioye Cr...
1    Name Arojoye Samuel Address 11 Omolade Close O...
2    Name Alex Ezurum Address 1 Adamu Lane, Abuja A...
3    Name Susan Nwaimo Address Number 58 Yaba Stree...
4    Name Ajao Opeyemi Address No12 Olubunmi Street...
Name: 0, dtype: object
(8,)

In [65]:
col = ['Name', 'Address', 'Age', 'Gender']
df = pd.DataFrame(columns=col)


for i in range(0, 8):
    row = data[i]
    for c in col:
        row = row.replace(c, '/')
    row = row.strip('/')
    row = row.split('/')
    row = [i.strip() for i in row]
    df = pd.concat([df, pd.DataFrame([row], columns=col)], axis=0)

In [71]:
df = df.reset_index(drop=True)
df

                  Name                                  Address Age  Gender
0       Hussein Hakeem  Number 22 Fioye Crescent Surulere Lagos  17    Male
1       Arojoye Samuel      11 Omolade Close Omole Estate Lagos  16    Male
2          Alex Ezurum                      1 Adamu Lane, Abuja  14    Male
3         Susan Nwaimo      Number 58 Yaba Street, Kaduna State  16  Female
4         Ajao Opeyemi           No12 Olubunmi Street, Abeokuta  18  Female
5    Banjoko Adebusola           34 Ngige Street, Ugheli, Delta  14  Female
6     Muhammed Olabisi                     13, ICAN road, Enugu  12  Female
7  Oluwagbemi Mojisola                       ACCA Lane, Onitsha  13  Female

In [72]:
df.to_csv('Situtation5Solution1.csv', index=False)